.main-banner {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-content img{
    background-repeat: no-repeat;
}
/* member style */
.memb-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-content {
    width: 100%;
    margin-bottom: 2rem;

}

.banner-content img {
    width: 100%;
}

.mrmber-txt {
    position: absolute;
   
}

.mrmber-txt h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* Medium font weight */
    font-size: 64px;
    letter-spacing: -0.04em;
    color: #fff;
}

@media(max-width:786px) {
    .mrmber-txt h1 {
        font-size: 40px;
    }

}


@media(max-width:530px) {
    .memb-banner {
        display: none;
    }
    .mrmber-txt h1 {
        font-size: 24px;
    }
    .banner-content {
    
        width: 100%;
        margin-bottom: 1.5rem;
    
    }
    /* .mrmber-txt {
        position: absolute;
        bottom: 27px;
        left: 27px;
    } */
    
}
