.footer-main {
    margin-top: 6rem;
    display: flex;
    background: linear-gradient(to bottom, #FF3131, #FF8210);
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    min-height: 592px;
}

.title-main-footer h1 {
    font-size: 36px;
    letter-spacing: -0.04em;
    color: #fff;
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.title-main-footer span {
    font-style: italic;
    font-weight: 600;
}

.left-footer-main {
    display: flex;
    align-items: center;
    

}
.all-icons-main{
    margin-top: 1rem;
    margin-left: 4rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.right-footer-main {
    display: flex;
    align-items: center;


}

.right-footer-main h1 {
    text-transform: uppercase;
    font-size: 32px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.right-footer-main h3 {
    margin-top: 1.5rem;
    text-decoration: underline;
    font-size: 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.right-footer-main h4 {
    margin-top: 2.5rem;
    font-size: 36px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}